/*
html {
    background-color: rgb(34, 39, 46);
}*/
:root {
    --color-success: #257953;
}

.input:not(input[type="button"]) {
    background-color: transparent;
    color: white;
}

.input::placeholder {
    color: gray;
    font-size: small;
}

_:lang(x)::-internal-media-controls-overlay-cast-button, .input:not(input[type="button"]) {
    padding-bottom: .6em;
}

._back:hover {
    cursor: pointer;
    color: var(--color-success) !important;
}

._content {
    position: absolute;
    width: 100%;
    max-width: 640px;
    min-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}