<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotem</title>
    <link rel="stylesheet" href="../view/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="../view/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container is-max-desktop">
                <p class="is-size-1 has-text-warning-light">Spotem</p>
                <p class="is-size-5">観光SNS</p>
                <div class="buttons mt-4">
                    <a href="/signup" class="button is-rounded is-success is-fullwidth">アカウント作成</a>
                    <!--ゲスト-->
                    <a href="login.html" class="button is-rounded is-warning is-fullwidth">ログイン</a>
                </div>
            </div>
        </div>
        <div class="footer has-background-black-ter">
            <div class="container is-max-desktop">
                <small class="is-pulled-right has-text-white-bis">
                    <span class="icon">
                        <i class="far fa-copyright"></i>
                    </span>Kyoto-Computer-Gakuin
                </small>
            </div>
        </div>
    </section>
</body>

</html>